<%= search_form_for @q do |f| %>
  <div class="form-row">
    <div class="col　col-md-6">
    <%= f.select :status_eq,  options_for_select({'未解決': 0, '解決': 1}),include_blank: 'ステータス'%>
    </div>
    <div class="col　col-md-6">
    <%= f.select :categories_name_eq,options_from_collection_for_select(@category, :name, :name),include_blank: 'カテゴリ'%>
    </div>
    <div class="col">
    <%= f.search_field :title_or_body_cont, class: 'form-control', placeholder: '検索' %>
    </div>
    <div class="input-group-append">
      <%= f.submit class: 'btn btn-success' %>
  </div>
  </div>
<% end %>