<div class="container-fluid">
  <div class="row">
  <div class="col-md-10 offset-1">
    <div class="card text-white bg-secondary card border-warning">
      <div class="card-body">
      <div class= "text-right">
      <%= question.status %>
      </div>
    <div class="col-auto mr-auto"> <%= image_tag 'aaa', size: '40x40', class: 'rounded-circle mr15'%>  <%= question.user.name %>
      <h2 class="card-title"><%= link_to question.title, question_path(question) %></h2>
      <p class="card-text"><%= question.body %></p>
      <% question.pictures.each do |picture| %>
        <%= link_to picture.url, 'data-lightbox': picture do%>
          <%= image_tag picture.url if question.pictures.present?%>
          <% end %>
      <% end %>
      <div class="row">
        <div class="col align-self-end">
        <div class="text-right">
            <% if question.video.present? %>
            <div class="text-right">
             <i class="fas fa-file-video fa-2x" ></i>
            <% end %>
            <% if question.youtube.present? %>
             <i class="fab fa-youtube fa-2x	"></i>
             <% end %>
             </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <span>【カテゴリ】</span>
      <% if question.categories.present? %>
      <% question.categories.each do |category| %>
        <span class="badge badge-dark"><%= category.name %></span>
      <% end %>
      <% else %>
        <span>なし</span>
      <% end %>
      <%= l question.created_at, format: :long %>
      <% if logged_in? %>
      <%= render 'questions/crud_menus', question: question if current_user.own?(question) %>
      <% end %>
           </div>
        </div> 
       </div>
      </div>
    </div>
  </div>
</div>