<div class="top-wrapper">
     <h1>Football Query.</h1>
     <div class ="main">
     <%= link_to "使い方", "#", class: "text_1" %>
     <%= link_to "質問一覧", "#", class: "text_2" %>
     <%= link_to "新規登録", "#", class: "text_3" %>
     </div>
     <div>
     <%= link_to "ログイン", "#", class: "cp_btn" %>
      </div>
      <div>
     <%= link_to "プライバシ-ポリシー", "#", class: "text_4" %>
      </div>
 </div>


