
     <table id="js-table-answer" class="table">
     <% @answers.each do |answer| %>
    <tr id="answer-<%=answer.id%>">
      <% if answer.parent_id.present? || answer.id.blank? %>
        <% next %>
      <% end %>
      <td style="width: 80px">
      <% if answer.user.rank == "Silver"%>
      <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
      #c0c0c0"%>
      <% elsif answer.user.rank == "Bronze"%>
     <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
      #b87333"%>
      <% elsif answer.user.rank == "Gold"%>
      <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
      #e6b422"%>
      <% end%>
      </td>
      <td>
        <h3><%= answer.user.name %></h3>
        <div id="js-answer-<%= answer.id %>">
         <%= simple_format(answer.body) %>
        </div>
        <% if answer.replies.present?%>
        <p>
          <a data-toggle="collapse" href="#collapseExample<%=answer.id%>" role="button" aria-expanded="false" ><i class="fas fa-comment-dots">コメント一覧</i></a>
        </p>
        <div class="row">
          <div class="col">
          <div class="collapse" id="collapseExample<%=answer.id%>">
          <div class="card card-body">
             <div id="reply_area">
             <div class= "float-left">
             <% answer.replies.each do |reply| %>
               <div> 
               <div>---------------------------------------------------------------------------------------------------------------------<div>
               <% if answer.user.rank == "Silver"%>
               <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
              #c0c0c0"%>
             <% elsif answer.user.rank == "Bronze"%>
              <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
              #b87333"%>
              <% elsif answer.user.rank == "Gold"%>
              <%= image_tag answer.user.avatar.url, class: 'rounded-circle', size: '70x70' ,style:"border: 5px solid 
              #e6b422"%>
               <% end %>
                <h3><%= reply.user.name %></h3>
               </div>
               <%= simple_format(reply.body) %>
               <div class="text-right">
               <p><%= l reply.created_at, format: :long %> </p>
               </div>
            <% end %>
            </div>
            </div>
            </div>
            </div>
         </div>
         <% end %>
      </td>
      <td class="action">
        <div class="text-right">
          <% if current_user.own?(answer) && @question.best_answer_id != answer.id %>
            <%= link_to answer_path(answer),
               class: 'js-delete-answer-button',
               method: :delete,
                data: { confirm: 'コメント削除しますか？'} do %>
                 <span class="fa-stack fa-1x">
                 <i class="fas fa-circle fa-stack-2x"></i>
                 <i class="fas fa-trash-alt fa-stack-1x fa-inverse"></i>
               </span>
            <% end %>
          <% end %>
          <% if current_user.own?(@question) && @question.best_answer_id != answer.id %>
            <%= form_with(model: @question, local: true, data: {confirm: "#{answer.user.name}さんの回答をベストアンサーにします。この修正は変更できません、よろしいですか？"}) do |f| %>
               <%= f.hidden_field  :best_answer_id, value: answer.id, id:"answer#{answer.id}" %>
               <%= f.submit "ベストアンサーに選ぶ",class:"btn btn-border" unless @question.best_answer_id.present? %>
            <% end %>
               <% elsif  @question.best_answer_id == answer.id%>
               <p><i class="fas fa-medal fa-4x"></i></p>
          <% end %>
          <p>
          <a data-toggle="collapse" href="#collapseReply<%=answer.id%>" role="button" aria-expanded="false">
          <i class="fas fa-reply">返信</i>
            </a>
           </p>
           <p><%= l answer.created_at, format: :long %> </p>
         <div class="collapse" id="collapseReply<%=answer.id%>">
         <div class="card card-body">
         <%= form_with(model:[@question,@answer_reply], local: true, data: {confirm: "#{answer.user.name}さんへコメントしますか？"}) do |f| %>
            <p><label>アンサー返信フォーム</label></p>
            <div class="form-group has-success">
             <textarea class="form-control input-form" name="answer[body]" rows="2"><%=@answer_reply.body%></textarea>
             </div>
                <%= f.hidden_field :parent_id, value: answer.id,  id: "#{answer.id}"%>
                <div class="actions">
                <div class= "text-left">
                  <%= f.submit  '返信する', class: "btn btn-success"%>
                  </div>
          <% end %>
         </div>
         </div>
        </td>
    </tr>
     <% end %>
     </table>