<tr id="answer-<%= answer.id %>">
   <td style="width: 60px">
     <%= image_tag 'aaa.jpg', class: 'rounded-circle', size: '40x40' %>
   </td>
   <td>
     <h3 class="small"><%= answer.user.name %></h3>
     <div id="js-answer-<%= answer.id %>">
       <%= simple_format(answer.body) %>
     </div>
     <div id="js-textarea-answer-box-<%= answer.id %>" style="display: none;">
       <textarea id="js-textarea-answer-<%= answer.id %>" class="form-control mb-1"><%= answer.body %></textarea>
       <button class="btn btn-light js-button-edit-answer-cancel" data-answer-id="<%= answer.id %>">キャンセル</button>
       <button class="btn btn-success js-button-answer-update" data-answer-id="<%= answer.id %>">更新</button>
     </div>
   </td>
   <td class="action">
      <div class="text-right">
   <% if current_user.own?(answer) && @question.best_answer_id != answer.id %>
         <%= link_to answer_path(answer),
         class: 'js-delete-answer-button',
         method: :delete,
         data: { confirm: 'コメント削除しますか？'} do %>
          <%= icon 'fa', 'trash' %>
          <% end %>
   <% end %>
   <% if current_user.own?(@question) && @question.best_answer_id != answer.id %>
         <%= form_with(model: @question, local: true, data: {confirm: "#{answer.user.name}さんの回答をベストアンサーにします。この修正は変更できません、よろしいですか？"}) do |f| %>
            <%= f.hidden_field :best_answer_id, value: answer.id %>
            <div class="actions">
            <%= button_tag type: "submit", disabled: @question.best_answer_id.present? do %>
              <i class="fas fa-medal"></i>
            <% end %>
            <% end %>
            <% elsif  @question.best_answer_id == answer.id%>
            <p>ベストアンサー</p>
   <% end %>
   </div>
   </td>
 </tr>